body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg);

}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    text-align: center;
    margin: 0 10px;
}

.timer span {
    display: block;
    font-size: 7em;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}

.timer span:last-child {
    font-size: 1em;
}


